@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

$GreyColor1:rgba(51, 51, 51, 1);
$GreyColor2:rgba(180, 180, 180, 1);
$GreyColor3:rgba(51, 51, 51, 1);
$TGreyColor1:rgba(0, 0, 0, 0.8);
$TGreyColor2:rgba(0, 0, 0, 0.2);
$WhiteColor:rgba(255,255,255,1);

$widthSideBox:240px;
$paddingSideBox:20px;
$paddingContent:20px;
$headerH:60px;

a{
    text-decoration: none;
    color: $GreyColor2;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(240,240,240,1);
    .App {
        display: flex;
        flex-direction: column;
        height: 100vh; /* Занимает 100% высоты видимой области */
        max-height: 100%;
        .header {
            background-color: $GreyColor1;
            color: $WhiteColor;
            text-align: center;
            height: $headerH;
            nav{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .logo-box{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    a{
                        color: $GreyColor2;
                        font-size: 1rem;
                        font-weight: 800;
                        margin-left: 20px;
                    }
                    margin: 0 20px;
                }
                .menu-box{
                    display: flex;
                    flex-direction: row;
                    justify-content: right;
                    padding-right: 40px;
                    a{
                        color: $GreyColor2;
                        margin: 0 10px;
                        padding: 5px;
                        transition: 0.8s ease;
                    }a:hover{
                          background-color: $TGreyColor1;
                          color: white;
                      }
                    margin: 0 20px;
                }
            }
            hr{
                position: relative;
                border: none;
                height: 3px;
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: $GreyColor2;
                z-index: 10000;
            }
        }
        .container {
            display: flex;
            flex: 1;
            max-height: calc(100% - $headerH);
            .sidebar {
                width: $widthSideBox;
                background-color: $GreyColor1;
                position: fixed;
                height: 100%;
                .nav-left-box{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    padding-top: 20px;
                    a{
                        width: calc(100% - 20px);
                        padding: 10px 5px 5px 15px;
                        transition: 0.3s ease-out;
                    }a:hover{
                        background-color: $TGreyColor1;
                        color: white;
                    }
                }
            }
            .content {
                width: calc(100% - $widthSideBox - $paddingContent*2 - $paddingContent);
                margin-left: $widthSideBox+$paddingContent;
                flex: 1;
                padding: $paddingContent;
            }
        }
    }
}

.sync-box{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
    .left-box{
        width: 20%;
        .control-box{
            .button{
                width: 80%;
                margin: 0 10px 10px 0;
                padding: 10px;
                background-color: $GreyColor1;
                color: $GreyColor2;
                border: 3px solid $GreyColor2;
                font-size: 0.7rem;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
                transition: 0.8s ease;
            }
            .button:hover{
                background-color: $TGreyColor1;
                color: white;
            }
        }
    }
    .right-box{
        width: 80%;
        background-color: $GreyColor1;
        border: 3px solid $GreyColor2;
        height: 100%;
        max-height: 100%;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        overflow: hidden;
        .field{
            color: $GreyColor2;
            border: 3px solid $GreyColor2;
            margin: 20px;
            padding: 20px;
            p{
                margin: 5px;
                font-size: 0.7rem;
                font-weight: 600;
                span{
                    text-transform: uppercase;
                }
            }
            .m{
                margin-left: 50px;
            }
        }
    }
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 4px;
}
.table,.model{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    .row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        .cell {
            flex: 1;
            padding: 10px;
            text-align: left;
            border-right: 1px solid #ddd;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            color: $GreyColor2;
            font-size: 0.7rem;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            transition: 0.8s ease;
        }
        .flex{
            opacity: 1 !important;
            display: flex !important;
        }
        .cellmaxima{
            position: absolute;
            display: none;
            opacity: 0;
            transition: 0.3s ease;
            transition-delay: 0.3s;
            background-color: $GreyColor1;
            padding:5px;
            left:40px;
            bottom: 40px;
        }
        .cell.hovered {
            background-color: #e0e0e0;
           // white-space: normal;
            text-overflow: unset;
        }
    }
    .top{
        border-bottom: 3px solid #ddd;
    }
}
.model{
    .field{

    }
}


.files {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .file-list {
        margin-top: 20px;
        .file-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 10px;
        }
        .file-item span {
            flex-grow: 1;
        }
        .file-item button {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}











